* {
    font-size: 22px;
}

body {
    background-color: #222831;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 0;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

button {
    padding: 100px;
    margin: 50px;
    margin-bottom: 0px;
    background-color: #393E46;
    color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
}

button:active {
    background-color: #EEEEEE;
    color: #393E46;
    transform: translateY(10px);
}

p {
    color: #EEEEEE;
    font-size: 30px;
}
